.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  @apply hidden md:flex items-center justify-center mb-8;
}

.react-tabs__tab {
  font-family: var(--font-montserrat);
  @apply mx-3 lg:mx-7 pb-4 text-xs lg:text-sm tracking-widest uppercase relative text-[#505050] font-bold cursor-pointer;
}

/* .react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
} */

.react-tabs__tab-list .react-tabs__tab--selected::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #eb334a;
  bottom: 0;
  left: 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #eb334a;
  bottom: 0;
  left: 0;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: grid;
}
