@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
.container{max-width: 1312px;}
.home-banner{height: calc(100vh - 72px);}
.home_banner{
  @apply w-full h-full rounded-[20px] bg-[#29214b] pb-20}

.intro_section{background: linear-gradient(0deg, #D8D5E3 0%, rgba(216, 213, 227, 0) 100%);
padding-block-start: 260px; padding-block-end: 326px;position: relative;}

.paragraph_one_style{
  @apply text-xl leading-6 font-semibold text-[#29214B]
}

.primary_button{font-family: "Montserrat";
  @apply px-10 py-3 bg-[#EB334A] text-white text-sm rounded-lg
}

.secondary_button{font-family: "Montserrat";
  @apply px-10 py-3 border border-white rounded-lg text-sm text-white
}

.paragraph_two_style{font-family: "Montserrat";
  @apply font-normal text-[#090617] text-lg leading-7
}

.heading_three_style{font-family: "Montserrat";
  @apply flex items-center justify-between font-semibold text-[#29214B] text-[21px] mb-2

}

h2.heading_style_two{font-family: "Montserrat";
@apply font-semibold text-[#29214B] text-[38px] leading-[46px]
}


.intro_background_img{
  position: absolute; top: calc(50% - 243px);left: 50%; transform: translateX(-50%);
}
.transformation{
@apply -mt-[106px] relative z-[2] flex flex-col items-center
}
.transformation_profile_img{
@apply overflow-hidden mb-8 h-[212px] w-[212px] rounded-[20px]}

.transformation_profile_img img{
@apply h-full w-full object-cover
}

.upcoming_program{background: linear-gradient(180deg, #D8D5E3 0%, rgba(216, 213, 227, 0.4) 100%);
@apply pt-40 pb-[409px]}

.program_list .program_list_li{
  @apply flex rounded-[20px] overflow-hidden bg-white mb-8
}

.program_img{
  @apply w-[290px] h-auto
}

.program_img img{
  @apply h-full w-full object-cover
}
.program_details{
  @apply flex-1 p-8 
}

.program_description{
  @apply text-sm text-[#505050] leading-6 pr-32 pb-7
}
.program_icon{
  @apply w-8 h-8 flex items-center justify-center
}
.program_icon svg{
  @apply h-full w-auto max-w-full
}

.program_time{@apply pl-[14px]}

.program_time p{
  @apply text-sm font-bold text-[#505050]
}
.program_time p+p{
  @apply font-normal
}

.news_letter_section{background: linear-gradient(180deg, #D8D5E3 0%, rgba(216, 213, 227, 0) 100%);padding-block-end: 160px;}
.news_letter_section .news_letter{
  @apply bg-[#29214B] rounded-[20px] px-24 py-28 -mt-72 mb-40
}

.news_letter{
  @apply gap-32 lg:flex justify-between relative overflow-hidden 
}

.news_letter_head{ont-family: "Montserrat";
  @apply text-[28px] text-white font-semibold pb-9 leading-9
}

.news_letter_h2{font-family: "Montserrat";
  @apply font-semibold text-white text-[38px] leading-[46px] pb-6
}

.news_letter_form{
  @apply lg:w-1/2 rounded-[20px] bg-white p-8 lg:max-w-[440px] mt-20 lg:mt-0
}

.news_letter_form_head{font-family: "Montserrat";
  @apply text-[28px] text-[#29214B] font-semibold leading-9 mb-7
}

.form_field{
  @apply mb-9
}
 
.form_field label{
  @apply block text-base leading-5 text-[#505050] mb-[6px] font-normal
}
.form_field input{
  @apply border border-[#B5B5B5] w-full px-6 py-2 rounded-lg
}

.checkbox_label{
  @apply text-base leading-5 font-normal text-[#505050]
}
.masterclass_img{
  @apply w-full h-52
}

.masterclass_img img{
  @apply h-full w-full object-cover
}

.masterclass_des{font-family: "Montserrat"; 
  @apply text-sm text-[#505050] leading-6 font-normal
}

.testimonial_section{padding-block-end: 170px;}

footer{
  @apply bg-[#29214B] pt-20 pb-40
}
.footer_links li{
  @apply mb-4 text-white font-normal text-base
}
.home_banner h3 {
  padding-top: 30px;
  padding-bottom: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
}

.home_banner h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  color: #ffffff;
}

.main-right-circle {
  position: absolute;
  top: 0;
  right: 0;
}
