/* Main */
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700;800&display=swap"); */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ COMMON_CSS_START ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
  font-family: var(--font-kumbhSans), sans-serif;
}
body {
  font-family: var(--font-kumbhSans), sans-serif;
  @apply text-lg;
}

/* .container{
  @apply sm:max-w-[100%] md:max-w-[700px] lg:max-w-[980px] xl:max-w-[1112px] px-[4%] md:px-0
} */

.container {
  @apply max-w-[1112px] px-[24px] xl:px-0;
}

.primary_button {
  font-family: var(--font-montserrat);
  @apply px-10 py-3 bg-[#EB334A] text-white text-sm rounded-lg tracking-widest hover:bg-[#E56071] transition-all ease-in duration-150;
}

.secondary_button {
  font-family: var(--font-montserrat);
  @apply px-10 py-3 border border-white rounded-lg text-sm text-white tracking-widest  hover:bg-white hover:text-[#29214B]   transition-all ease-in duration-150;
}

.tertiary_button {
  font-family: var(--font-montserrat);
  @apply px-10 py-3 border border-[#505050] rounded-lg text-sm text-[#090617] tracking-widest hover:border hover:border-[#090617]  transition-all ease-in duration-150;
}

.paragraph_one_style {
  font-family: var(--font-montserrat);
  @apply text-sm lg:text-xl leading-6 font-semibold;
}

.paragraph_two_style {
  @apply font-normal text-[#090617] text-lg leading-7;
}

.heading_three_style {
  font-family: var(--font-montserrat);
  @apply font-semibold text-[#090617] text-lg lg:text-[21px];
}

.heading_three_style_black {
  font-family: var(--font-montserrat);
  @apply font-semibold text-[#2B2B27] text-lg lg:text-[21px];
}
.heading_three_style_blue {
  font-family: var(--font-montserrat);
  @apply font-semibold text-[#39315C] text-lg lg:text-[21px];
}

.heading_three_style_white {
  font-family: var(--font-montserrat);
  @apply font-semibold text-white text-lg lg:text-[21px];
}
h1.heading_one_black {
  font-family: var(--font-montserrat);
  @apply text-3xl md:text-4xl lg:text-[50px] text-[#2B2B27] font-semibold leading-8 lg:leading-[60px];
}

h2.heading_style_two {
  font-family: var(--font-montserrat);
  @apply font-semibold text-[28px] lg:text-[38px] leading-[34px] lg:leading-[46px];
}
h3.heading_style_three {
  font-family: var(--font-montserrat);
  @apply font-semibold text-[22px] lg:text-[28px] text-[#29214B];
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: #fff;
}

.main-right-circle {
  @apply absolute top-0 right-0;
}
/* .banner {
  @apply h-[350px] md:h-[552px]
} */

/* @media screen and (max-width: 1399px) {
  .banner {
    height: calc(100vh - 72px);
  }
} */

.customize_checkbox {
  display: block;
  position: relative;
  padding-inline-start: 35px;
  margin-block-end: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.customize_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -6px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
}

/* ustom Check Box Css Start */
.checkbox-symbol {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

.checkbox-container {
  box-sizing: border-box;
  background: #ffffff;
  color: #222;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.checkbox-container * {
  box-sizing: border-box;
}

.checkbox-input {
  position: absolute;
  visibility: hidden;
}

.checkbox {
  user-select: none;
  cursor: pointer;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
}

.checkbox:not(:last-child) {
  margin-right: 6px;
}

.checkbox span {
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox span:first-child {
  position: relative;
  flex: 0 0 18px;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.3s ease;
}

.checkbox span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transform: translate3d(0, 0, 0);
}

.checkbox span:last-child {
  padding-left: 12px;
  line-height: 18px;
  font-size: 16px;
}

.checkbox:hover span:first-child {
  border-color: #eee;
}

.checkbox-input:checked + .checkbox span:first-child {
  background: #29214b;
  border-color: #29214b;
  animation: zoom-in-out 0.3s ease;
}

.checkbox-input:checked + .checkbox span:first-child svg {
  stroke-dashoffset: 0;
}

@keyframes zoom-in-out {
  50% {
    transform: scale(0.9);
  }
}
/* ustom Check Box Css End */

/* On mouse-over, add a grey background color */
.customize_checkbox:hover input ~ .checkmark {
  background-color: #eee;
  border-radius: 4px;
}

/* When the checkbox is checked, add a blue background */
.customize_checkbox input:checked ~ .checkmark {
  background-color: #29214b;
  border-radius: 4px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.customize_checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.customize_checkbox .checkmark:after {
  left: 8px;
  top: 3px;
  width: 8px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.testimonial_section .swiper.swiper-initialized.swiper-horizontal.mySwiper {
  position: relative;
}
.testimonial_section .swiper-button-next,
.testimonial_section .swiper-button-prev {
  height: 60px;
  width: 60px;
  background-color: #d8d5e3;
  border-radius: 50%;
}
.testimonial_section .swiper-button-prev {
  left: 45%;
  bottom: 0;
  top: auto;
}
.testimonial_section .swiper-button-next {
  right: 45%;
  bottom: 0;
  top: auto;
  background-image: url("/src/Assets/Images/pageImages/rightArrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.testimonial_section .swiper-button-next::after {
  opacity: 0;
}
.testimonial_section .swiper .swiper-wrapper {
  @apply lg:-ml-[11%];
}
.testimonial_section .swiper .swiper-wrapper .swiper-slide {
  margin-right: 32px !important;
}

@media screen and (max-width: 1052px) {
  .testimonial_section .swiper .swiper-wrapper {
    @apply -ml-[25%];
  }
}
@media screen and (max-width: 1023px) {
  .testimonial_section .swiper .swiper-wrapper {
    @apply ml-[0%];
  }
  .banner.productDetails_banner {
    height: auto;
  }
  .thisIsme_wrapper {
    background: #fff !important;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ COMMON_CSS_END ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER_CSS_START ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER_CSS_END ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ HOME_PAGE_CSS_START ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.home_banner {
  @apply w-full h-[820px] sm:h-[552px] rounded-[20px] bg-[#29214b] pb-[80px] pt-20 flex md:pt-0 lg:items-end relative sm:px-6 xl:px-0;
}

.home_banner h3 {
  font-family: var(--font-montserrat);
  @apply py-8 font-semibold text-white text-[21px] lg:text-[28px] leading-8;
}

.home_banner h1 {
  font-family: var(--font-montserrat);
  @apply text-4xl xl:text-[50px] text-white leading-[46px] xl:leading-[60px] font-semibold;
}

.home_banner .swiper.swiper-initialized.swiper-horizontal.mySwiper {
  @apply md:absolute left-0 top-[59px] md:top-[95px] h-[522px];
}
.home_banner .swiper.swiper-v.swiper-initialized.swiper-vertical.mySwiper2 {
  height: 100%;
}
.home_banner
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-vertical {
  display: none;
}
.home_banner_text {
  align-items: flex-end;
  @apply md:pl-[388px]  lg:pl-[410px];
}
.intro_section {
  background: linear-gradient(
    0deg,
    rgb(216 213 227 / 40%) 0%,
    rgba(216, 213, 227, 0) 100%
  );
  @apply pt-72 sm:pt-[28rem] md:pt-32 lg:pt-44 pb-56 lg:pb-[326px] relative overflow-hidden;
}
.home_banner_text
  .swiper
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal
  .swiper-pagination-bullet {
  width: 70px;
  border-radius: 100px;
  margin-inline: 7px;
}
.home_banner_text .swiper .swiper-pagination-bullet-active {
  background-color: #29214b;
}
.swiper-slide.swiper-slide-active img {
  /* height: 92% !important; */
  border-radius: 20px;
}

.intro_background_img {
  position: absolute;
  top: calc(50% - 313px);
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.transformation {
  @apply -mt-[106px] relative z-[2] flex flex-col items-center pb-16 lg:pb-[100px];
}

.transformation_profile_img {
  @apply mb-8 h-40 w-40 md:h-[212px] md:w-[212px] rounded-[20px] relative;
}

.transformation_profile_img img {
  @apply h-full w-full object-cover rounded-[20px];
}
.podcast_listen_icon {
  @apply absolute rounded-[50%] h-16 w-16 flex items-center justify-center;
}
.home_story_tab {
  @apply hidden md:flex items-center justify-center mb-8;
}
.home_story_tab li {
  font-family: var(--font-montserrat);
  @apply mx-3 lg:mx-7 pb-4 text-xs lg:text-sm tracking-widest uppercase relative text-[#505050] font-bold cursor-pointer;
}
.home_story_tab li.story_tab_active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #eb334a;
  bottom: 0;
  left: 0;
}

.thisIsme_wrapper {
  background: linear-gradient(
    180deg,
    rgb(216 213 227 / 40%) 0%,
    rgba(216, 213, 227, 0) 100%
  );
}

.story_podcast {
  @apply absolute rounded-[50%] h-16 w-16 flex items-center justify-center right-6 bottom-0 bg-[#EB334A] z-[2] opacity-0;
}

.home_story_section {
  @apply gap-x-10 gap-y-16 mb-16;
}
.home_story_section li {
  @apply relative cursor-pointer transition-all ease-in duration-300;
}

.home_story_section
  .swiper.swiper-initialized.swiper-horizontal
  .swiper-wrapper
  .swiper-slide {
  @apply sm:px-5;
}
.home_story_section li .home_story_img::after {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0) 0%,
    #29214b 86.46%
  );
  @apply absolute w-full h-[63%] bottom-0 left-0 transition-all ease-in duration-150 opacity-0;
}

.home_story_section li:hover .home_story_img::after {
  @apply opacity-100 transition-all ease-in duration-300;
}

.home_story_section li:hover .story_podcast {
  @apply opacity-100 bottom-6 transition-all ease-in duration-300;
}

.home_story_img {
  @apply h-96 w-full rounded-[20px] overflow-hidden relative mb-6;
}

.home_story_img img {
  @apply w-full h-full object-cover;
}

.home_story_img video {
  @apply w-full h-full object-cover;
}

.home_story_number {
  font-family: var(--font-montserrat);
  @apply absolute left-0 bottom-0 pl-6 pb-8 text-white text-4xl z-[2] font-semibold;
}

.upcoming_program {
  background: linear-gradient(
    180deg,
    rgb(216 213 227 / 40%) 0%,
    rgba(216, 213, 227, 0) 100%
  );
  @apply pt-24 pb-36 md:pb-60 lg:pt-40 lg:pb-[306px];
}

.program_list .program_list_li {
  @apply lg:flex rounded-[20px] overflow-hidden bg-white mb-[25px] md:mb-8 relative border border-[#E1E1E1];
}

.program_register {
  @apply flex items-center text-[#4086FF] font-semibold tracking-widest absolute bottom-0 right-8 opacity-0;
}

.program_list .program_list_li:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 23px;
  @apply transition-all ease-in duration-150;
}

.program_list .program_list_li:hover .program_register {
  @apply opacity-100 bottom-8 transition-all ease-in duration-150 hidden lg:flex;
}

.program_img {
  @apply w-full lg:w-[20%] h-[200px] lg:h-auto;
}

.program_img img {
  @apply h-full w-full object-cover;
}
.program_details {
  @apply flex-1 px-4 py-8 md:px-8;
}

.program_description {
  font-family: var(--font-kumbhSans), sans-serif;
  @apply text-sm text-[#505050] leading-6 md:pr-32 pb-7;
}
.program_icon {
  @apply w-8 h-8 flex items-center justify-center;
}
.program_icon svg {
  @apply h-full w-auto max-w-full;
}

.program_time {
  @apply pl-[14px];
}

.program_time p {
  @apply text-sm font-bold text-[#505050];
}
.program_time p + p {
  @apply font-normal;
}

.news_letter_section {
  @apply md:pb-11;
}
.news_letter_section .container.mx-auto {
  @apply px-0;
}
.news_letter {
  @apply gap-32 lg:flex justify-between  overflow-hidden bg-[#29214B] md:rounded-[20px] px-6 md:px-10 xl:px-24 py-20 lg:py-28 lg:mx-0 relative  top-[-110px] md:top-[-200px] -mb-[46px];
}

.news_ellipse_one {
  @apply absolute top-0 object-cover h-full;
}

.news_letter_head {
  font-family: var(--font-montserrat);
  @apply text-[22px] lg:text-[28px] text-white font-semibold leading-9;
}

.news_letter_h2 {
  font-family: var(--font-montserrat);
  @apply font-semibold text-white text-[28px] lg:text-[38px] leading-[46px] pb-6;
}

.news_letter_form {
  @apply rounded-[20px] bg-white py-[27px] px-[25px] lg:max-w-[440px] lg:mt-0 z-[2] relative;
}

.Supportive_community_section .news_letter_form {
  @apply lg:max-w-full;
}

.news_letter_form_head {
  font-family: var(--font-montserrat);
  @apply text-[28px] text-[#090617] font-semibold leading-9 mb-7;
}

.form_field {
  @apply mb-[26px];
}

.form_field label {
  font-family: var(--font-roboto), sans-serif;
  @apply block text-base leading-5 text-[#505050] mb-[6px] font-normal;
}
.form_field input {
  @apply border border-[#B5B5B5] w-full px-6 py-2 rounded-lg;
}

.checkbox_label {
  @apply text-base leading-5 font-normal text-[#505050];
}
.masterclass_img {
  @apply w-full h-[200px];
}

.masterclass_img img {
  @apply h-full w-full object-cover;
}

.masterclass_des {
  @apply text-sm text-[#505050] leading-6 font-normal;
}

.testimonial_section {
  @apply mb-[100px] lg:mb-20 px-[4%] lg:px-0;
}

.Supportive_community_section {
  background: linear-gradient(
    0deg,
    rgb(216 213 227 / 40%) 0%,
    rgba(216, 213, 227, 0) 100%
  );
  @apply pb-20 lg:pb-40 overflow-hidden;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ HOME_PAGE_CSS_END ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ABOUT_PAGE_CSS_START ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.about_banner {
  background-repeat: no-repeat;
  background-size: cover;
  @apply h-[350px] md:h-[552px] md:rounded-[20px] flex items-end justify-center relative overflow-hidden;
}

.about_banner::after {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(89, 80, 125, 0) 0%,
    rgba(89, 80, 125, 0.5) 100%
  );
  @apply absolute h-full w-full left-0 top-0;
}

.about_head {
  font-family: var(--font-montserrat);
  @apply pb-8 lg:pb-16 text-4xl lg:text-[50px] text-white  z-[3];
}

.about_funfacts {
  @apply pt-24 lg:pt-36;
}

.fun_fact_tab {
  @apply mr-4;
}

/* .fun_fact_tab li{
  @apply w-[100px] h-[100px]  mb-10 rounded-[50%] hover:bg-[#EB334A] transition-all flex items-center justify-center
} */
.fun_fact_tab li {
  @apply h-16 w-16 lg:w-[100px] lg:h-[100px]  mb-10 rounded-[50%]  transition-all flex items-center justify-center;
}

.fun_fact_tab li.fun_fact_active {
  @apply bg-[#EB334A];
}
.fun_fact_tab li.fun_fact_active svg {
  fill: #fff;
}
/* .fun_fact_tab li:first-child{@apply bg-[#EB334A]}
.fun_fact_tab li:first-child svg{fill: #fff;} */
.fun_fact_tab li svg {
  fill: #29214b;
}
/* .fun_fact_tab li:hover svg{fill: #fff;} */
.fun_profile_img {
  @apply w-full h-auto rounded-[20px] overflow-hidden relative -mr-[5%] md:mr-0 rounded-e-none md:rounded-e-[20px];
}
.fun_profile_img:after {
  content: "";
  position: absolute;
  height: 60%;
  width: 100%;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #29214b 100%);
  bottom: 0;
  left: 0;
}
.fun_profile_img img {
  @apply h-full w-full object-cover;
}
.fun_profile_name {
  font-family: var(--font-montserrat);
  @apply text-white text-[21px] w-full font-semibold leading-6 px-6 pb-12 md:pb-28 xl:px-20 lg:pb-16 absolute bottom-0 z-10 text-center mx-auto;
}

.about_journey {
  @apply pt-24 lg:pt-[200px];
}

.journey_points {
  @apply mr-11;
}

.journey_details li {
  @apply mb-5;
}

.journey_details li .journey_points {
  @apply relative;
}
.journey_details li:last-child .journey_points::after {
  display: none;
}
.journey_details li .journey_points::after {
  content: "";
  height: calc(100% - 60px);
  @apply absolute w-[2px] bg-[#29214B] bottom-0 left-[50%] translate-x-[-50%];
}

.journey_time {
  @apply text-sm font-normal leading-6 text-[#090617] mb-[10px];
}
.journey_time span {
  @apply relative pr-3;
}
.journey_time span::after {
  content: "";
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: #090617;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(-50%);
}
.journey_time span:last-child::after {
  display: none;
}

.about_mission {
  @apply lg:pt-24;
}

.about_mission .about_missiongoes {
  @apply bg-[#29214B] md:rounded-[20px] overflow-hidden relative;
}
.mission {
  @apply flex justify-center items-center h-full px-6 md:px-10 lg:px-0 overflow-hidden py-24 lg:py-40;
}
.mission_ellipse {
  @apply absolute h-full w-full top-0 left-0;
}

.about_principles {
  @apply pt-[100px] lg:pt-[200px];
}

.socialMedia_moments {
  @apply pt-[100px] lg:pt-[200px] pb-[100px] lg:pb-80 relative;
}
.socialMedia_moments::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 70%;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgb(216 213 227 / 20%) 0%,
    rgba(216, 213, 227, 0) 100%
  );
}

.social_image {
  @apply w-full h-full rounded-[20px] overflow-hidden relative;
}
.social_image img {
  @apply h-full w-full object-cover rounded-[20px];
}

.social_image::after {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0) 0%,
    #29214b 86.46%
  );
  @apply absolute w-full h-[60%] bottom-0 left-0 transition-all ease-in duration-150 opacity-0;
}

.social_image:hover::after {
  @apply opacity-100 transition-all ease-in duration-300;
}

.insta_podcast {
  @apply h-16 w-16 flex justify-center items-center bg-[#EB334A] absolute bottom-0 right-6 rounded-[50%] opacity-0 z-[2];
}

.social_image:hover .insta_podcast {
  @apply opacity-100 bottom-6 transition-all ease-in duration-300;
}

.podcast_head {
  font-family: var(--font-montserrat);
  @apply text-[38px] lg:text-[50px] text-white max-w-[627px] font-semibold leading-9 lg:leading-[60px] lg:pl-8;
}

.podcast_back {
  background: linear-gradient(
    0deg,
    rgb(216 213 227 / 40%) 0%,
    rgba(216, 213, 227, 0) 100%
  );
}

.upcoming_program.programs {
  background: linear-gradient(
    0deg,
    rgb(216 213 227 / 40%) 0%,
    rgba(216, 213, 227, 0) 100%
  );
  @apply lg:pt-4;
}
.news_letter_section.programs_news {
  @apply md:pb-0 bg-none;
}

.journey_details.programDetails_journey li .journey_points::after {
  display: none;
}
.programDetails_peopleReview {
  @apply border border-[#E1E1E1] rounded-[20px] bg-white relative overflow-hidden mb-4 h-[242px];
}
.programDetails_peopleReview::after {
  content: "";
  background-color: rgba(0 0 0 / 40%);
  @apply absolute top-0 left-0 w-full h-full;
}

.accordian .accordian_item {
  @apply border-b border-[#2B2B27];
}
.accordian .accordian_item .accordion_body {
  transition: top 0.8s ease-in-out;
  @apply pb-[23px];
}

.accordian .accordian_item .accordion_collapse.hidden {
  transition: top 0.8s ease-in-out;
}
.accordian .accordian_item .accordion_collapse.show {
  transition: top 0.8s ease-in-out;
}
.accordian .accordian_item .accordian_header {
  @apply relative;
}
.accordian .accordian_item .accordian_header .accordion_button {
  @apply text-[#2B2B27] font-semibold py-[23px] w-full text-start;
}

/* Media quary css */
/* @media screen and (max-width: 1399px) {
  .banner {
    height: calc(100vh - 72px);
  }
} */
/* @media screen and (max-width: 1288px){
  .testimonial_section .swiper .swiper-wrapper .swiper-slide {
    width: auto!important;
  }
  
} */
/* @media screen and (max-width: 1024px) {
  .banner {
    height: calc(100vh - 72px);
  }
} */

/* @media all and (max-width: 1024px) and (max-height: 1366px) and (orientation: portrait) {
  .banner {
    height: calc(70vh - 72px);
  }
} */

@media screen and (max-width: 991px) {
  .testimonial_section .swiper .swiper-wrapper .swiper-slide {
    margin-right: 40px !important;
  }
}
@media screen and (max-width: 767px) {
  /* .banner {
    height: calc(100vh - 72px);
  } */
  /* .banner.commonbanner {
    height: calc(60vh - 72px);
  } */
  .program_icon {
    @apply w-6 h-6;
  }
  .about_banner {
    background-position: center;
  }
}
@media screen and (max-width: 701px) {
  .testimonial_section .swiper .swiper-wrapper .swiper-slide {
    margin-right: 20px !important;
  }
}
@media screen and (max-width: 639px) {
  .home_banner_text
    .swiper
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal
    .swiper-pagination-bullet {
    width: 50px;
    border-radius: 100px;
    margin-inline: 7px;
  }
}
@media screen and (max-width: 526px) {
  .testimonial_section .swiper .swiper-wrapper .swiper-slide {
    margin-right: 10px !important;
  }
}
