nav {
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
}
.active {
  color: #eb334a;
}
.inactivelink {
  color: #505050;
}
.nav-ul a {
  font-family: var(--font-montserrat);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
  cursor: pointer;
}

.nav-btn {
  padding: 9px 40px;
  background: #ffffff;
  font-family: var(--font-montserrat);
  letter-spacing: 2px;
  font-weight: 600;
  border: 1px solid #505050;
  border-radius: 8px;
}

.user-btn {
  padding: 5px 12px;
  background: #eb334a;
  font-family: var(--font-montserrat);
  color: #fff;
  letter-spacing: 2px;
  font-size: 14px;
  border-radius: 8px;
}
.login-btn {
  padding: 5px 16px;
  background: transparent;
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: #090617;
  letter-spacing: 2px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #505050;
}
.signup-btn {
  padding: 5px 16px;
  background: #39315c;
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: white;
  letter-spacing: 2px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #39315c;
}

@media (min-width: 1024px) {
  .nav-height {
    height: 72px;
  }
}

.menu-icon {
  width: 33px;
  height: 22px;
  cursor: pointer;
}
.mobile_menu {
  @apply absolute top-[100%] left-0 w-full bg-white p-6;
  border-top: 7px solid #e1e1e1;
}
.mob_nav {
  font-family: var(--font-montserrat);
}
.mob_nav li {
  padding-bottom: 20px;
  font-size: 21px;
  color: #505050;
  font-weight: 600;
}
.mob_nav_button {
  width: 100%;
  border: 1px solid #090617;
  color: #090617;
  display: block;
  border-radius: 8px;
  padding-block: 8px;
  text-align: center;
  font-weight: 600;
  margin-block-start: 60px;
}

.navbar {
  position: fixed;
  top: -100%;
  left: 0;
  transition: top 0.8s ease-in-out;
  z-index: 100;
}

.navbar.open {
  top: 68px;
}

.navbar-menu {
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 767px) {
  nav {
    box-shadow: none;
  }
}

.btn-animation {
  animation: btn_animation 0.8s;
}

@keyframes btn_animation {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    display: block;
  }
}
